* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

.default {
  cursor: default;
}

.none {
  display: none;
}

.bold {
  font-weight: bold;
}

.invert {
  filter: invert(100%) brightness(200%);
  -webkit-filter: invert(100%) brightness(200%);
}

.removeStyle {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.test {
  color: rgba(225, 234, 248, 0.71)
}